* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

header h1 {
    margin: 0;
}

nav {
    color: black;
    background-color: blanchedalmond;
    text-align: right;
    padding: 8px;
    display: block;
}

#nav-bar {
    color: blue;
    font-size: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    margin: 5px;
    min-width: 200px;
    width: fit-content;
    text-align: left;
    border: black solid 2px;
}

.card h2{
    text-align: center;
    text-decoration: underline;
    margin: 2px;
}
.card ul {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}